
<div class="container-fluid containerGeneral">

    <!--LIGNE 1 TITRE-->
   <div class="row page-header justify-content-between ligneTitre" id="ligneTitrePrenomGen">
      <div class="col-md-6 col-sm-6 col-xs-12 colTitre" id="colTitrePrenom">
         <h2 class="titreRubrique"> La fabrique de prénoms</h2>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 phraseAccroche">
            <i class="fa fa-quote-left iconeGuillemets" aria-hidden="true"></i>
            &nbsp;Un prénom vous est proposé, c'est vous qui voyez.&nbsp;
            <i class="fa fa-quote-right iconeGuillemets" aria-hidden="true"></i>
      </div>
   </div>


    <!--LIGNE 2 BOUTONS ESTIMATIONS - PRENOM ALEAT - OPTIONS/LEGENDE -->
  <div class="row justify-content-center" id="ligneDeuxPrenomEstimOptions">

    <!--COLONNE ESTIMATIONS - PRENOM ALEAT -->
    <div class="col-md-9 col-sm-9 col-xs-12" id="colZoneEstimationsPrenom">

        <div class="row justify-content-end" id="ligneEstimPrenom">

        <!-- bouton aime pas -->
        <div class="col-md-3 col-sm-2 col-xs-12 btnEstimation" (click)="estimerPrenom('false')" id="btnAimePas"
        [ngClass]="{'btnEstiFille' : choixSexe=='2', 'btnEstiGarcon' : choixSexe=='1'}">
                <i class="fa fa-thumbs-down fa-5x" aria-hidden="true"></i>
        </div>
        <!-- prenom aleatoire -->
        <div class="col-md-6 col-sm-5 col-xs-12" id="colPrenomAleatoire" [ngClass]="{'fille' : choixSexe=='2', 'garcon' : choixSexe=='1'}">
            <div id="prenomAleatoire" [ngClass]="typo">
                <span [@fadeInOut] *ngIf="animation">{{ prenomAleatoire }} </span>
            </div>
            <!-- bouton radio Typo -->
            <div class="row" id="radioTypo">
                <md-radio-group  [(ngModel)]="typo" id="btnRadioTypo">
                        typo :
                        <md-radio-button value="typoAka">Akachan</md-radio-button>
                        <md-radio-button value="typoCentury">Century</md-radio-button>
                </md-radio-group>
            </div>
            
        </div>
        <!-- bouton j aime -->
        <div class="col-md-3 col-sm-2 col-xs-12 btnEstimation" id="btnAime"
            (click)="estimerPrenom('true')" 
            [ngClass]="{'btnEstiFille' : choixSexe=='2', 'btnEstiGarcon' : choixSexe=='1'}"> 
                <i class="fa fa-star fa-5x" aria-hidden="true"></i>
        </div>

        </div>
    </div>

    <!--COLONNE OPTIONS - LEGENDE-->
    <div align="center" class="col-md-3 col-sm-3 col-xs-12" id="colZoneOptionsLegende">

        <!-- options tendances-->
        <div id="cadreChoixTendances"> <strong id="titreOptions">Options</strong>
            <li><p-toggleButton [style]="{'width':'100%'}" onLabel="prénoms tendances" offLabel="prénoms tendances" [(ngModel)]="estTendance"
                    (onChange)="activerPrenomsTendances($event)"></p-toggleButton>
            </li>
            <li><p-toggleButton [style]="{'width':'100%'}" onLabel="prénoms anciens" offLabel="prénoms anciens" [(ngModel)]="estAncien"
                    (onChange)="activerPrenomsAnciens($event)"></p-toggleButton>
            </li>
        </div>

        <!-- légende -->
        <div class="divLegende">
                <strong >Boutons</strong>
                <li id="legendeAimePas"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i>  &nbsp;je n'aime pas ce prénom.</li>
                <li><i class="fa fa-star fa-lg" aria-hidden="true"></i>  &nbsp;ajouter à ma liste.</li>
        </div>

         <!-- Raccourcis -->
        <div class="divLegende" id="texteRaccourcisClavier" >
           <i class="fa fa-info-circle" aria-hidden="true" style="color:#1e9ecc" 
            (mouseenter)="op1.show($event)" (mouseleave)="op1.hide($event)"></i>
           <strong>&nbsp;Raccourcis clavier</strong>
        </div>

    </div>


  </div>   <!--fermeture ligne 2-->


<!-- ***** MOBILE : ESTIMATION PRENOM ALEATOIRE *****  -->
<div id="mobile">
    <div class="row justify-content-center">
        <!-- prenom aleatoire -->
        <div class="col-xs-12" id="colPrenomAleatoire" [ngClass]="{'fille' : choixSexe=='2', 'garcon' : choixSexe=='1'}" >
            <div class="row" id="prenomAleatoire" [ngClass]="typo">
                    <span>{{ prenomAleatoire }} </span>
                </div>
                <!-- bouton radio Typo -->
                <div class="row" id="radioTypo">
                    <md-radio-group  [(ngModel)]="typo" id="btnRadioTypo">
                            typo :
                            <md-radio-button value="typoAka">Akachan</md-radio-button>
                            <md-radio-button value="typoCentury">Century</md-radio-button>
                    </md-radio-group>
                </div>
        </div>
        <div class="row justify-content-center" id="ligneEstiMobile">
            <div class="btn-group btn-block" role="group" aria-label="Basic example">
                <button type="button" class="btn boutonAkachan"  [ngClass]="{'btnEstiFille' : choixSexe=='2', 'btnEstiGarcon' : choixSexe=='1'}" (click)="estimerPrenom('false')">
                    <i class="fa fa-thumbs-down fa-5x" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn boutonAkachan" [ngClass]="{'btnEstiFille' : choixSexe=='2', 'btnEstiGarcon' : choixSexe=='1'}" (click)="estimerPrenom('true')">
                    <i class="fa fa-star fa-5x" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <p-toggleButton [style]="{'width':'100%'}" onLabel="prénoms tendances" offLabel="prénoms tendances" [(ngModel)]="estTendance"
                        (onChange)="activerPrenomsTendances($event)"></p-toggleButton>
        <p-toggleButton [style]="{'width':'100%'}" onLabel="prénoms anciens" offLabel="prénoms anciens" [(ngModel)]="estAncien"
                        (onChange)="activerPrenomsAnciens($event)"></p-toggleButton>

</div>
</div>
<!-- ******************  -->

  <!-- LIGNE 3 SEXE - CONFIRMATION - PASSER -->
 <div class="row justify-content-start" id="ligneTrois">
    
    <!-- boutons radio sexe -->
    <div align="right" class="col-md-3 centrerVerti" id="colBoutonRadioSexe">
        <div>
        <md-radio-group  [(ngModel)]="choixSexe" (change)="changerSexe()">
            <md-radio-button value="1">garçon</md-radio-button>
            <md-radio-button value="2">fille</md-radio-button>
        </md-radio-group>
        </div>
     
    </div>

    <!-- confirmation prénom estimé -->
    <div class="col-md-4 centrerVerti" id="colConfirmation">
        <div id="confirmation" *ngIf="nouvelleEstimation.prenom != null" [ngSwitch]="nouvelleEstimation.akachan">
            <p *ngSwitchCase="'true'"> le prénom {{nouvelleEstimation.prenom}} est ajouté à votre liste Akachan.</p>
            <p *ngSwitchCase="'false'"> le prénom {{nouvelleEstimation.prenom}} ne vous sera plus proposé.</p>
        </div>
    </div>

    <!-- bouton passer -->
    <div class="col-md-4" id="colBtnPasser">
        <Button class="btn boutonAkachan btnPasser" id="btnPasser" (click)="nePasEstimer()">
            &nbsp;passer&nbsp; <i class="fa fa-refresh" aria-hidden="true"></i> 
        </Button>
    </div>

  </div>   <!--fermeture ligne 3-->

    <br/>

    <!--POPULARITE DU PRENOM-->
    <div class="row justify-content-center" id="lignePopularite">
    
    <div class="col-md-10 col-sm-12 col-xs-12" id="colPopularite">
        <p-fieldset [style]="{'color':'#1e9ecc'}" legend="Popularité du prénom" [toggleable]="true" [collapsed]="true" (onBeforeToggle)=peuplerStats(prenomAleatoire)>
            
            <div class="row" style="margin:0;padding:0;">
            <!-- Chart -->
            <div class="col-md-9 col-sm-9 col-xs-12" style="margin-left:auto; margin-right:auto; width:100%;">
                    <p-chart type="bar" [data]="data" [options]="options"></p-chart>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12" id="colStats">
                <!-- STAT TOTAL DE NAISSANCES DEPUIS 1900 -->
                <div class="ui small statistics">
                        <div class="statistic">
                            <div class="value">
                                <i class="fa fa-birthday-cake" style="color:#EB505F;"></i>  {{totalNaissances.toLocaleString()}}
                            </div>
                            <div class="label"> naissances depuis 1900 </div>
                        </div>
                    </div>        
                <br>
                <!-- STAT ANNEE MAX NAISSANCES -->
                <div class="ui small statistics" *ngIf="maxNaissances.length == 1" >
                    <div class="statistic">
                        <div class="value">
                            <i class="fa fa-calendar-check-o" style="color:#EB505F;"></i>  {{maxNaissances[0].annee}}
                        </div>
                            <div class="label"> son année record :<br>  {{maxNaissances[0].nombreNaissances.toLocaleString()}} naissances </div>
                    </div>        
                </div>
                
                <div class="ui mini statistics" *ngIf="maxNaissances.length > 1">
                        <div class="statistic">
                            <div class="value">
                                <i class="fa fa-calendar-check-o" style="color:#EB505F;"></i>
                                <span *ngFor="let prenomInsee of maxNaissances; let last=last;">
                                    <span  *ngIf="!last"> {{prenomInsee.annee }} -</span> 
                                    <span *ngIf="last">{{prenomInsee.annee}}</span>
                                </span>
                            </div>
                                <div class="label"> ses années record : <br>  
                                        {{maxNaissances[0].nombreNaissances.toLocaleString()}} naissances 
                                </div>
                        </div>        
                </div>

            </div>
            </div>
            <div class="row justify-content-end">
                <p id="insee">Source:INSEE.</p>
            </div>
        </p-fieldset>
    </div>


    </div> 


   </div>  <!--fermeture container-->

    <p-overlayPanel #op1 appendTo="body">
        <div id="raccourcis" >
        <li><strong>CTRL +</strong> <i class="fa fa-arrow-left fa-lg"></i> &nbsp;je n'aime pas ce prénom.</li>
        <li><strong>CTRL +</strong> <i class="fa fa-arrow-right fa-lg"></i> &nbsp;j'aime ce prénom.</li>
        <li><strong>CTRL +</strong> <i class="fa fa-arrow-down fa-lg"></i> &nbsp;passer.</li>
        <li><strong>CTRL +</strong> <i class="fa fa-arrow-up fa-lg"></i> &nbsp;changer de genre.</li>
        </div>
    </p-overlayPanel>