#footer {
text-align:right;
font-size: 2vh;
word-wrap: break-word;
color: #eb505f;
}

#copyright {
    border-right-style:groove;
    padding-right:0.3vw;
}


#btnContact {
    font-size: 2vh;
    margin-left:0.3vw;
    font-family: "Century Gothic",calibri,Arial, Helvetica, sans-serif;
}

    #btnContact:focus {
        outline: none;
    }