 <div class="row align-items-end">
    <div class="col">
        <footer id="footer">
                    <span id="copyright"> © 2017 Akachan. Projet de fin de formation - Concepteur Développeur Informatique. </span>
                     <button md-button id="btnFooter" (click)="ouvrirPopUpContact()">Contact</button>
                     <span id="admin"> </span>
                     <button md-button id="btnFooter" (click)="accesAdmin()">Administration</button>
        </footer>
    </div>

 </div>