
<div class="container-fluid containerGeneral">

<ul class="nav nav-tabs" id="sousMenuTab">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
     <a routerLink="./" class="tab"><i class="fa fa-star-half" aria-hidden="true"></i> Liste Akachan</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="./n" class="tab"><i class="fa fa-life-ring" aria-hidden="true"></i> Changer d'avis ?</a></li>
</ul>

	<router-outlet></router-outlet>


</div>

