


:host /deep/ .datatableAdmin {
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
    width:75vmax;
    font-size:1vmax;
    box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.18);
    margin-bottom: 3vh;
}

:host /deep/ .col-uuid {
   width:4vw;
   
}

#ligneUuid {
    color:#EB505F;
}

.btnSupprimer {
    background-color: #EB505F;
    color:white;

}


@media (max-width: 768px) {

    :host /deep/ .datatableAdmin {
        font-size:100%;
        width:initial;
    
    }

}