

.form-inline {
    /* display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; */
}

.ligneFormulaire {
    /* border-style:dotted; */
    width:100%;
    margin:0;
    padding:10px;
}

.label {
    color:black;
    font-size:1em;
}

.form-control {
    width:100%;
}

.ligneStats {
}

#colStats {
}

#colGenerateur {
}

.boutonAkachan {
    font-size: 1em;
}

.btnModif {
    padding:0.5em 0.5em 0.5em 0.5em;
    margin-top:0.3em;
    margin-bottom:0.3em;
}

#preCitationAleat {
    padding-bottom:0;
    margin-bottom:0;
    height:100%;
}

#citationAleatoire {
    white-space: pre-wrap;
    word-break: break-word;
}

#ligneDataTable {
    display: flex;
    flex-direction: column;
}

#texteIntroTable {
    font-style: italic;
    font-size: small;
}

:host /deep/ .col-id {
    width:4vw;
 }

 :host /deep/ .col-contenu {
    /* word-wrap: break-word; */
    /* word-break: break-all; */
    white-space: normal;
    text-align: left;
 }

 :host /deep/ .col-auteur {
    /* word-wrap: break-word; */
    /* word-break: break-all; */
    white-space: normal;
    text-align: left;
 }
