<!-- <div class="container-fluid conteneurAdminOnglet"> -->

  <h3>Stats clients</h3>

  <div class="ui small statistics">
    <div class="statistic">
        <div class="value">
        <i class="fa fa-user-o red" style="color:#af0000;"></i> {{totalClients}}
        </div>
        <div class="label">
        clients
        </div>
    </div>
  </div>        

  <br>

  <div id="chartTotalClient">
      <p-chart type="polarArea" [data]="donneesChartClients"></p-chart>
  </div>

  <br>

<h3>Liste des comptes</h3>

<!-- DATATABLE DES COMPTES  -->
<p-dataTable [value]="listeComptesDTO" sortField="dateDeCreation" [sortOrder]="-1" [resizableColumns]="true" [responsive]="true">

  <p-column field="email" header="Email" sortable="true"></p-column>

  <!-- <p-column field="role" header="Rôle" sortable="true"></p-column> -->

  <p-column field="dateDeCreation" header="Date de création" sortable="true" >
      <ng-template let-date let-compte="rowData" pTemplate="body">
        <span>{{compte.dateDeCreation | date:'dd/MM/y  HH:mm'}}</span>
    </ng-template>
  </p-column>
  
  <p-column field="prenom" header="Prénom" sortable="true"></p-column>
  <p-column field="sexe" header="Sexe" sortable="true">
      <ng-template let-colonne let-compte="rowData" pTemplate="body">
        <span *ngIf="sexe=='1'">homme</span>
        <span *ngIf="sexe=='2'">femme</span>
      </ng-template>
</p-column>
<p-column field="nombreEstimations" header="nombre d'estimations" sortable="true"></p-column>
</p-dataTable>

<!-- </div> -->