<!--  GROWL -->
<p-growl [value]="msgs"></p-growl>


<div class="container conteneurAdminOnglet">

  <h3>Stats clients</h3>

<div class="row">

    <div class="col-md-2 col-sm-2 col-xs-12" id="colStats">
        <!-- STAT TOTAL DE CLIENTS -->
        <div class="ui  statistics">
            <div class="statistic">
                <div class="value">
                    <i class="fa fa-user-o red" style="color:#af0000;"></i>  {{listeComptesDTO.length}} <!-- {{totalClients}} -->
                </div>
                <div class="label"> clients </div>
            </div>
        </div>        

        <!-- STAT TOTAL ESTIMATIONS -->
        <div class="ui  statistics">
            <div class="statistic">
                <div class="value">
                    <i class="fa fa-star-half" style="color:#af0000;"></i>  {{totalEstimations}}
                </div>
                    <div class="label"> estimations </div>
            </div>        

        </div>
    </div>
        
    <div class="col-md-5 col-sm-5 col-xs-12 colCharts">
        <!-- CHART NOMBRE CLIENTS PAR GENRE -->
        <div class="charts">
            <p-chart type="pie" [data]="donneesChartClients" [options]="optionsChartClients"></p-chart>
        </div>

    </div>

    <div class="col-md-5 col-sm-5 col-xs-12 colCharts">
        <!-- CHART NOMBRE ESTIMATIONS PAR GENRE -->
        <div class="charts">
            <p-chart type="pie" [data]="donneesChartEstimations" [options]="optionsChartEstimations"></p-chart>
        </div>

    </div>

</div>

<div class="row">

<h3>Liste des comptes</h3>

<!-- DATATABLE DES COMPTES  -->

<p-dataTable styleClass="datatableAdmin" [value]="listeComptesDTO" sortField="dateDeCreation" [sortOrder]="-1" [resizableColumns]="true" [responsive]="true" dataKey="email" [rows]="10" [paginator]="true" [pageLinks]="5"
[rowsPerPageOptions]="[10,20,30]" emptyMessage="Aucun compte client enregistré." expandableRows="true" #dt>

<p-column styleClass="col-uuid" expander="true"></p-column>

<p-column field="email" header="Email" sortable="true" [filter]="true" filterPlaceholder="chercher un email"></p-column>

  <!-- <p-column styleClass="col-uuid" field="uuid" header="UUID" sortable="true"></p-column> -->

  <!-- <p-column field="role" header="Rôle" sortable="true"></p-column> -->

  <p-column field="dateDeCreation" header="Date de création" sortable="true" >
      <ng-template let-date let-compte="rowData" pTemplate="body">
        <span>{{compte.dateDeCreation | date:'dd/MM/y  HH:mm'}}</span>
    </ng-template>
  </p-column>
  
  <p-column field="prenom" header="Prénom" sortable="true"></p-column>

  <p-column field="sexe" header="Sexe" sortable="true" [filter]="true" filterMatchMode="equals" [style]="{'overflow':'visible'}">
      <ng-template pTemplate="filter" let-col>
          <p-dropdown [options]="listeGenre" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
      </ng-template>
      <ng-template let-colonne let-compte="rowData" pTemplate="body">
        <span *ngIf="compte.sexe=='1'">homme</span>
        <span *ngIf="compte.sexe=='2'">femme</span>
      </ng-template>
  </p-column>

  <p-column field="nombreEstimations" header="Estimations" sortable="true"></p-column>

  <p-column header="Supprimer">
      <ng-template let-compte="rowData" pTemplate="body">
        <button type="button" class="btn btnSupprimer" (click)="confirmerSuppression(compte);"><i class="fa fa-times" aria-hidden="true"></i></button>  
        <!-- <button type="button" pButton (click)="supprimerCompte($event,compte.email);" class="ui-button-danger" icon="fa-close "></button> -->
      </ng-template>
  </p-column>

  <ng-template let-compte pTemplate="rowexpansion">
      <span id="ligneUuid">uuid client : {{compte.uuid}}</span>
  </ng-template>

</p-dataTable>

</div>

<!--  CONFIRM DIALOG SUPPRESSION COMPTE -->
<p-confirmDialog #cd>
    <p-footer>
      <button type="button" pButton icon="fa fa-undo" label="Annuler" (click)="cd.reject()"></button>
      <button type="button" pButton icon="fa-check" label="Supprimer" (click)="cd.accept()"></button>
    </p-footer>

</p-confirmDialog>



</div>