<div class="container conteneurAdminOnglet">

  <h3>Stats clients</h3>

  <!-- STAT TOTAL DE CLIENTS -->
  <div class="ui small statistics">
    <div class="statistic">
        <div class="value">
        <i class="fa fa-user-o red" style="color:#af0000;"></i> {{totalClients}}
        </div>
        <div class="label">
        clients
        </div>
    </div>
  </div>        

  <br>

  <!-- CHART NOMBRE CLIENTS PAR GENRE -->
  <div id="chartTotalClient">
      <p-chart type="polarArea" [data]="donneesChartClients"></p-chart>
  </div>

  <br>

<h3>Liste des comptes</h3>

<!-- DATATABLE DES COMPTES  -->

<p-dataTable styleClass="datatableAdmin" [value]="listeComptesDTO" sortField="dateDeCreation" [sortOrder]="-1" [resizableColumns]="true" [responsive]="true" dataKey="email" [rows]="10" [paginator]="true" [pageLinks]="5"
[rowsPerPageOptions]="[10,20,30]" emptyMessage="Aucun compte client enregistré." #dt>

  <p-column field="email" header="Email" sortable="true" [filter]="true" filterPlaceholder="chercher un email"></p-column>

  <!-- <p-column field="role" header="Rôle" sortable="true"></p-column> -->

  <p-column field="dateDeCreation" header="Date de création" sortable="true" >
      <ng-template let-date let-compte="rowData" pTemplate="body">
        <span>{{compte.dateDeCreation | date:'dd/MM/y  HH:mm'}}</span>
    </ng-template>
  </p-column>
  
  <p-column field="prenom" header="Prénom" sortable="true"></p-column>

  <p-column field="sexe" header="Sexe" sortable="true" [filter]="true" filterMatchMode="equals" [style]="{'overflow':'visible'}">
      <ng-template pTemplate="filter" let-col>
          <p-dropdown [options]="listeGenre" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
      </ng-template>
      <ng-template let-colonne let-compte="rowData" pTemplate="body">
        <span *ngIf="compte.sexe=='1'">homme</span>
        <span *ngIf="compte.sexe=='2'">femme</span>
      </ng-template>
  </p-column>

  <p-column field="nombreEstimations" header="nombre d'estimations" sortable="true"></p-column>

  <p-column header="supprimer">
      <ng-template let-compte="rowData" pTemplate="body">
          <button type="button" pButton (click)="supprimerCompte($event,compte.email);" class="ui-button-danger" icon="fa-close "></button>
      </ng-template>
  </p-column>

</p-dataTable>


</div>