
.conteneurAdminOnglet {
    width:100%;
}

#chartTotalClient {
    width:30vmin;
}

:host /deep/ .datatableAdmin {
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
    width:75vmax;
    font-size:1.1vmax;
    box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.18);
}



@media (max-width: 768px) {

    #chartTotalClient {
        width:100%;
    }

}