

#colStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.colCharts {
}

.charts {
    width:18vmax;
    margin-left: auto;
    margin-right: auto;
}

:host /deep/ .col-uuid {
   width:4vw;
   
}

#ligneUuid {
    color:#EB505F;
}

.btnSupprimer {
    background-color: #EB505F;
    color:white;

}


@media (max-width: 768px) {

    .charts {
        width:100%;
    }

    :host /deep/ .col-uuid {
        width:initial;
    }

    #ligneUuid {
        display:none;
        font-size:100%;
    }

}