   /* pour enlever fond jaune sur champs préremplis de chrome. */
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

/*changement de couleur du picto suivant sexe*/
.femme {
    color:#1e9ecc;
}

.homme {
    color:#4e81b6 ;
}

#ligneTitreCompte {
    margin-bottom:1.5%;
    padding-bottom:2vh;
    margin-top:0;
}

#colTitreCompte {
    width:27vh;
    margin:0;
    padding:0;
}

#titreInfosPersos {
    font-size:1.5vmax;
    padding-bottom:1vh;
}

#formulaireCompte {
    font-size:1.2vmax;
}

.inputFormulaire {
    font-size:1.2vmax;
    min-height:4vh;
}

#blocBtnGauche {
    margin-top:4vh;
}

.btnColGauche {
    font-size:1vmax;
    margin-top:4vh;
}

.btnModifCompte {
    margin-right:auto;
    margin-left:auto;
}

#TexteChangerMdp {
    font-size: 1.2vmax;
}


#btnChangerMdp {
    font-size: 1.2vmax;
    font-family: "Century Gothic",calibri,Arial, Helvetica, sans-serif;
}

    #btnChangerMdp:focus {
        outline: none;
    }

#formMdp {
    font-size:1.2vmax;
}

.labelFormMdp {
    font-size:1vmax;
}


/* MOBILE */

@media (max-width: 768px) {

    #picto {
        display:none;
    }

    .inputFormulaire,#btnChangerMdp,#labelFormMdp,#TexteChangerMdp,#btnColGauche,#titreInfosPersos,.btnColGauche,
    #formulaireCompte,#formMdp,.labelFormMdp  {
        font-size:initial;
    }

    #blocBtnGauche {
        margin-top:0;
        margin-bottom:2vmax;
    }
}
