      

              <!--MENU-->
            <div class="col-auto" id="colMenu">

                    <nav style="text-align:center;">
  
                      <!--bouton accueil-->
                      <a routerLink="/accueil" class="liensMenu"> 
                          <div id="btnAccueil" class="rubriquesMenu">
                          <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                          <br><div class="liensTexte">Accueil</div>
                          </div>
                      </a>
                      
                      <!--bouton prenom-->
                      <a routerLink="/prenom" class="liensMenu"> 
                          <div class="rubriquesMenu">
                          <i class="fa fa-play-circle-o fa-3x" aria-hidden="true"></i>
                          <br><div class="liensTexte">Prénom</div>
                          </div>
                      </a>

                      <!--bouton liste-->
                      <a routerLink="/liste" class="liensMenu"> 
                          <div class="rubriquesMenu">
                          <i class="fa fa-star fa-3x" aria-hidden="true"></i>
                          <br><div class="liensTexte">Ma liste</div>
                          </div>
                      </a>

                      <!--bouton recherche-->
                      <a routerLink="/recherche" class="liensMenu"> 
                          <div class="rubriquesMenu">
                          <i class="fa fa-search fa-3x" aria-hidden="true"></i>
                          <br><div class="liensTexte">Recherche</div>
                          </div>
                      </a>

                    </nav>

            </div>